<section>
  <div class="container">
    <h2>Our Cancellation Policy</h2>
    <p>
      Your appointment is very important to the team members at Body ‘N’ Bloom
      Laser Clinic. It is reserved specifically for you.
    </p>
    <p>
      Please understand that when you forget or cancel your appointment without
      giving enough notice, we miss the opportunity to fill that appointment
      time, and clients on our waitlist miss the opportunity to receive
      services.
    </p>
    <p>
      We understand that sometimes schedule adjustments are necessary;
      therefore, we ask that if you must cancel or reschedule your appointment,
      you give our team 24 hours’ notice. Otherwise, you will be charged a $50
      cancellation fee. If this occurs more than twice, we won’t be able to book
      any further appointments without payment confirmation beforehand.
      Otherwise, you will no longer be able to reserve any future appointments
      at Body ‘N’ Bloom Laser Clinic.
    </p>
    <p>
      We would like to make sure your time, our time and our clients are
      respected.
    </p>
    <p>By booking an appointment, you agree to all the above policies.</p>
  </div>
</section>

<style lang="scss">
  .container {
    padding: 10rem 5rem;
    max-width: 80rem;
    margin: 0 auto;

    @media (max-width: 900px) {
      padding: 5rem;
    }

    @media (max-width: 400px) {
      padding: 5rem 2rem;
    }

    & h2,
    p {
      margin-bottom: 2rem;
    }
  }
</style>
