<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="column__text">
          <h2>Bridal Party Facial Packages Ottawa</h2>
          <p>
            Plan your wedding day, bridal shower, bachelorette party, grooms
            party or any special occasion party with us. Body ‘N’ Bloom bridal
            party facial packages include a mini facial and massage for you and
            your bridal party.
          </p>
          <p>
            Our space is the perfect environment to celebrate and enjoy your
            special day with a nice glass of champagne. Body ‘N’ Bloom team
            we’ll make sure you look your best!
          </p>
          <p>You’ll be ready to rock this town.</p>
          <p>
            We can make customized packages for any occasion. Just let us know:
          </p>
          <ol>
            <li>how many guests you are bringing</li>
            <li>what your budget is (per person or for the whole event)</li>
            <li>what treatments you would like to include for each guest</li>
          </ol>
          <p>
            Booking is easy – just give us a call or text at <a
              href="tel:6135528504">613-552-8504</a
            > or
            <a
              href="https://bodynbloom.janeapp.com/"
              target="_blank"
              rel="nonreferrer">book online</a
            > and we will take care of the rest!
          </p>
        </div>
        <div class="column__text">
          <h3>On-Site Bridal Party Facial Services</h3>
          <p>
            We also provide an onsite service, Body ‘N’ Bloom Laser Clinic is
            more than happy to accommodate you and your wedding or any party by
            providing on-location services. Let us do the traveling to give you
            the opportunity to focus on the important parts of your very special
            day.
          </p>
          <p>
            Pricing upon request—please call <a href="tel:6135528504"
              >613-552-8504</a
            > for additional details.
          </p>
        </div>
      </div>
      <div class="column">
        <img
          src="/images/bridal.jpg"
          alt="A bride who received a facial package from Body N Bloom Ottawa."
        />
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  .container {
    max-width: 140rem;
    margin: 0 auto;
    padding: 10rem;

    @media (max-width: 900px) {
      padding: 10rem;
    }

    @media (max-width: 600px) {
      padding: 7.5rem;
    }

    @media (max-width: 450px) {
      padding: 5rem 2rem;
    }
  }

  .columns {
    display: grid;
    grid-template-columns: 55% 35%;
    gap: 10%;

    @media (max-width: 900px) {
      grid-template-columns: 1fr;
      gap: 5rem;
    }
  }

  .column {
    display: flex;
    flex-direction: column;
    align-items: center;

    & img {
      width: 100%;

      @media (max-width: 900px) {
        max-width: 40rem;
      }
    }

    &__text {
      margin-bottom: 5rem;
      & h2,
      h3 {
        font-size: 4rem;
        margin-bottom: 2rem;

        @media (max-width: 600px) {
          font-size: 3rem;
        }
      }

      & p {
        font-size: var(--font-size-body);
        margin-bottom: 2rem;
      }

      & ol {
        margin: 2rem 0 2rem 5rem;

        & li {
          margin-bottom: 1rem;
          font-weight: bold;
        }
      }
    }
  }
</style>
