---
import { Image } from '@astrojs/image/components';
import Button from '../../Buttons/Button.astro';
---

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h2 class="heading">Platelet Rich Plasma Therapy Ottawa</h2>
        <p>
          Are you looking for a more natural way to look younger, to improve
          skin quality and smooth fine lines of the face, decoletage or hand.
          Are you struggling with hair loss? Platelet-Rich Plasma (PRP)
          treatment might be the right option for you.
        </p>
        <h3>What is Platelet Rich Plasma Therapy?</h3>
        <p>
          Platelet-Rich Plasma or PRP treatment is a natural therapy that works
          by using your body’s natural healing properties to help restore your
          skin or to stimulate hair growth. Originally developed to treat
          sports-related injuries, such as ligament and joint damage. It can
          also repair tendon, help regrow muscle and bone and heal diabetic
          ulcers. PRP Treatments accelerate wound healing are found to have
          practical cosmetic applications as well. By activating healing factors
          in your cells to regenerate soft tissue, it can give your skin a
          fuller, healthier look and also stimulate hair growth by increasing
          the number of hair follicles.
        </p>
      </div>
      <div class="column">
        <Image
          src="/images/treatments/platelet-rich-plasma/platelet-rich-plasma.jpg"
          alt="A woman who receiving platelet-rich plasma treatment."
          width={600}
          aspectRatio={1 / 1}
          format="webp"
          fit="cover"
          position="center"
          background="transparent"
        />
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <h3>What Can Be Treated with PRP?</h3>
        <p>
          PRP can help treat dark circles, deep wrinkles (Nasolabial folds,
          cheeks and jaws, periorbital areas, crow’s feet, upper lip, forehead,
          neck and back of the hands), hair loss (both men and women) and scars
          (acne, stretchmarks, hypertrophic scars).
        </p>
        <h3>Cosmetic Platelet Rich Plasma for Facial Rejuvenation:</h3>
        <p>
          Harness the healing power of plates and growth factors from your own
          blood to stimulate a stem cell response. Every human blood contains
          white blood cells, red blood cells, plasma and platelets. By injecting
          plasma in wounded or inflamed areas of the body should accelerate the
          healing process and restores harmony and proportion in the volumes of
          the skin.
        </p>
        <h3>Cosmetic Platelet Rich Plasma for Hair Loss Treatment:</h3>
        <p>
          Healthy hair growth requires healthy follicles. Hair follicles need
          surrounding tissues to provide with sufficient oxygen to function
          normally. PRP promotes healing of damaged hair follicles and
          stimulates follicle activity to reverse shrinking of hair follicles,
          enhancing the vitality, color and brightness of the hair.
        </p>
      </div>
      <div class="column">
        <video
          src="http://scotts183.sg-host.com/wp-content/uploads/2023/01/BNB-PRP.mp4"
          controls
          controlslist="nodownload"></video>
      </div>
    </div>

    <div class="columns">
      <div class="column wide">
        <h3>PLATELET RICH PLASMA POSTOPERATIVE PROCEDURES:</h3>
        <ul>
          <li>
            Ice should be applied to the area & may be applied as needed to
            reduce swelling for the first 24-48 hours after the procedure. You
            will note some redness, stinging, & burning within 15 minutes to 2
            hours after treatment, and later, swelling and bruising, which peaks
            between 6-72 hours.
          </li>
          <li>
            Use a warm compresses several times a day if you experience redness
            or small lumps.
          </li>
          <li>
            Use Polysporin Ointment (NOT NEOSPORIN) to any open areasalong with
            the warm compresses. You may experience several post-inflammatory
            nodules. These indicate ongoing fat necrosis (a good thing…) These
            will disappear within 30 days.
          </li>
          <li>
            If some bruising is present, apply Arnica gel three times a day x 48
            hours.
          </li>
          <li>Drink LOTS of fluids (water) the first 24 hours.</li>
          <li>
            Avoid any strenuous exercise (anything that would cause you to sweat
            or increase your heart rate) for 48 hours after injections. After 48
            hours, you can resume regular physical activities as tolerated.
          </li>
          <li>
            Do NOT wash or take a shower for at least 4 hours after treatment.
          </li>
          <li>
            Do NOT take anti-inflammatories (Aspirin, Advil, Motrin, etc.) or
            Vitamin E for 24 hours after injections. You may use general
            painkillers (e.g. Tylenol) for any discomfort or use any
            prescription medications given to you.
          </li>
          <li>
            Hot tubs, saunas, Jacuzzis, and massages are NOT recommended for 48
            hours after treatment.
          </li>
          <li>
            Avoid direct sun exposure, tanning beds, sauna or heat for about two
            weeks after undergoing this procedure.
          </li>
          <li>
            Avoid any bathing in outdoor pools for at least a week after
            treatment.
          </li>
        </ul>
        <Button text="Book now" href="https://bodynbloom.janeapp.com/" blank />
      </div>
    </div>

    <div class="columns">
      <div class="column wide">
        <p>
          We’re excited to be offer this new service for our clients. With no
          downtime and long-lasting results, the Platelet Rich Plasma treatment
          may be the right choice for treating your cosmetic concerns. <a
            href="https://bodynbloom.janeapp.com/"
            target="_blank"
          >
            Book your Appointment online</a
          > or
          <a href="/contact">contact us</a> today if you have any questions..
        </p>
        <p>
          And to learn more, read our <a
            href="/blog/new-service-offering-what-is-prp-treatment/"
            >blog about Platelet Rich Plasma or PRP Treatments</a
          >.
        </p>
      </div>
      <div class="column"></div>
    </div>
  </div>

  <style lang="scss">
    .container {
      padding: 10rem 10rem 5rem;
      max-width: 120rem;
      margin: 0 auto;

      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;

      @media (max-width: 900px) {
        padding: 5rem;
      }

      @media (max-width: 400px) {
        padding: 5rem 2rem;
      }

      & h2 {
        font-size: 4rem;
        margin-bottom: 1rem;

        @media (max-width: 600px) {
          font-size: 3rem;
        }
      }

      & h3 {
        font-size: 3rem;
        margin-bottom: 2rem;
        text-align: left;
        width: 100%;

        @media (max-width: 600px) {
          font-size: 2.4rem;
        }
      }

      & img {
        margin-bottom: 2rem;
        width: 100%;
        height: auto;
      }

      & p {
        margin-bottom: 1rem;
      }

      & ul {
        margin-left: 1rem;
        margin-bottom: 2rem;

        & li {
          margin: 1rem 0;
        }
      }
    }

    .columns {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 5rem;

      margin-top: 5rem;

      margin-bottom: 2.5rem;

      @media (max-width: 800px) {
        grid-template-columns: 1fr;
      }

      &.short {
        max-width: 80rem;

        & img {
          max-width: 30rem;
        }
      }
    }

    .column {
      & img {
        width: 100%;
        height: auto;
      }

      & video {
        width: 100%;
        height: auto;
        aspect-ratio: 16/9;
      }

      &.row-2 {
        @media (max-width: 800px) {
          grid-row: 2;
        }
      }

      &.wide {
        grid-column: 1 / 3;

        display: flex;
        flex-direction: column;
        align-items: center;

        text-align: left;

        & p {
          width: 100%;
        }

        @media (max-width: 800px) {
          grid-column: 1 / 2;
        }
      }

      & iframe {
        width: 100%;
        aspect-ratio: 16/9;
        margin-bottom: 5rem;
      }

      & p {
        margin-bottom: 2rem;
      }
    }
  </style>
</section>
