---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Common/Header.astro';
import Main from '../../components/Treatments/MainWithSlider/Main.astro';
import Guidelines from '../../components/Treatments/Guidelines.astro';

import slider1 from '../../../public/images/treatments/laser-hair-removal/slider-1.jpeg';
import slider2 from '../../../public/images/treatments/laser-hair-removal/slider-2.jpeg';
import slider3 from '../../../public/images/treatments/laser-hair-removal/slider-3.jpeg';
import slider4 from '../../../public/images/treatments/laser-hair-removal/slider-4.jpeg';
import slider5 from '../../../public/images/treatments/laser-hair-removal/slider-5.jpeg';
import slider6 from '../../../public/images/treatments/laser-hair-removal/slider-6.jpeg';
import slider7 from '../../../public/images/treatments/laser-hair-removal/slider-7.jpeg';
import slider8 from '../../../public/images/treatments/laser-hair-removal/slider-8.jpeg';
import slider9 from '../../../public/images/treatments/laser-hair-removal/slider-9.jpg';

let images = [
  slider1,
  slider2,
  slider3,
  slider4,
  slider5,
  slider6,
  slider7,
  slider8,
  slider9,
];

let altText = 'A before and after pic of laser hair removal';
---

<Layout
  title="Welcome to Astro."
  description="Learn more about Laser Hair Removal treatments in Ottawa by visiting our page. Laser hair removal treatments are suitable for all skin types, including dark"
>
  <Header
    heading="LASER HAIR REMOVAL"
    bg="images/treatments/laser-hair-removal/laser-hair-removal-header.jpg"
  />
  <Main images={images} altText={altText}>
    <div slot="text">
      <div class="text-container">
        <h2>Laser Hair Removal Ottawa</h2>
        <p>
          Ottawa is a growing city with an ethnically diverse population. The
          medical laser hair removal technology from <a
            href="https://candelamedical.com/"
            target="_blank"
            rel="noreferrer">Syneron Candela</a
          > is the fastest, safest, and most efficient hair removal device ever developed.
          Effective for All skin types and both men and women equally.
        </p>
        <p>
          Our machines uses a dynamic cooling device, whereby a small burst of
          coolant spray is dispersed milliseconds before and after the laser
          pulse. This minimizes the discomfort of the treatment and provides
          clients with a cooling sensation making the treatment very
          comfortable.
        </p>
        <p>
          To learn more about Body ‘N’ Bloom’s laser hair removal treatments in
          Ottawa, call <a href="tel:6135228504">613-522-8504</a> or <a
            href="https://bodynbloom.janeapp.com/"
            target="_blank"
            rel="noreferrer">book an appointment online</a
          >.
        </p>
        <p>
          Continue reading to learn about pre-and-post laser hair removal
          treatments.
        </p>
      </div>
    </div>
  </Main>
  <Guidelines heading="PRE AND POST TREATMENT GUIDELINES">
    <ol slot="pre-treatment">
      <li class="guidelines__list-item">
        It is recommended to shave the treatment area within 24-48 hours prior
        to treatment.
      </li>
      <li>
        The treatment area must not tweeze, wax, or pluck for six weeks prior to
        treatment.
      </li>
      <li>
        The treatment area must be free of make-up, lotion, deodorant, and
        ointments and dry prior to the treatment.
      </li>
      <li>
        Avoid direct sun exposure and tanning for at least two to four weeks
        prior to the treatment.
      </li>
    </ol>
    <ol slot="post-treatment">
      <li>
        Sunblock must be wear with at least SPF 30 after treatment. Re-apply the
        sunblock during the day (especially if outdoors).
      </li>
      <li>
        Hair will start to shed at around two to three weeks post treatment.
        Absolutely NO tweezing, plucking or waxing of the treatment area during
        the course of treatments. However, shaving or use a washcloth to
        exfoliate the hairs is allowed.
      </li>
      <li>
        Deodorant or make - up can be re-applied after treatment if the skin
        does not feel too irritated.
      </li>
      <li>
        Direct sun exposure and tanning must be avoided for at least two to four
        weeks after treatment.
      </li>
      <li>
        Cool compress can be used post treatment for comfort. Never apply ice
        directly to the skin.
      </li>
      <li>
        Redness may last from 2-5 hours up to several days following treatment.
      </li>
      <li>
        Swelling (edema) or itching can be post treatment. A topical
        hydrocortisone or Benadryl can be used to alleviate the symptoms. An
        oral antihistamine can also be used. Non-drowsy antihistamine (such as
        Claritin) can be taken during the day to avoid the drowsiness associated
        with Benadryl.
      </li>
      <li>Avoid exercise for 24 hours post treatment.</li>
    </ol>
  </Guidelines>
</Layout>

<style lang="scss">
  li {
    margin: 2rem 0rem;
  }

  h2 {
    font-size: 4rem;

    @media (max-width: 600px) {
      font-size: 3rem;
    }
  }

  p {
    font-weight: 400;
    margin-bottom: 2rem;
  }
</style>
