---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Common/Header.astro';
import Main from '../../components/Treatments/MainNoSlider/Main.astro';
import Guidelines from '../../components/Treatments/Guidelines.astro';

import image from '../../../public/images/treatments/nail-fungus/nail-fungus.jpeg';

let altText = 'A before and after pic of sun spot damage repair.';
---

<Layout
  title="Nail Fungus"
  description="Laser Nail Fungus Treatment Ottawa helps get rid of nail fungus infection which causes fingernails or toenails to thicken, and discolor."
>
  <Header
    heading="Nail Fungus Treatment"
    bg="images/treatments/nail-fungus/nail-fungus-header.jpg"
  />
  <Main image={image} altText={altText}>
    <div slot="text">
      <div class="text-container">
        <h2>Laser Nail Fungus Treatment Ottawa</h2>
        <p>
          Nail Fungus, also known as Onychomycosis, is a fungal infection of the
          toenails or fingernails. The fungal infection can spread to other
          toenails but rarely infects all of them. The biggest danger of nail
          fungus is that fungus sheds from the nail and spreads all over your
          house. The fungus shedding can cause toenail infection amongst other
          members of your household. Nail fungus infection causes fingernails or
          toenails to thicken, discolor, disfigure, and split. Traditional
          methods for nail fungus treatment are ineffective and carry a
          potential risk of side effects. Laser nail fungus treatment helps get
          rid of nail fungus and provides results you wish for.
        </p>

        <p>
          Call us today at <a href="tel:6135528504">613-552-8504</a> for a free consultation,
          or <a
            href="https://bodynbloom.janeapp.com/"
            target="_blank"
            rel="noreferrer">book an appointment online</a
          >.
        </p>
      </div>
    </div>
  </Main>
  <Guidelines heading="PRE AND POST TREATMENT GUIDELINES">
    <ol slot="pre-treatment">
      <li class="guidelines__list-item">
        Remove nail polish and clean toes/fingernails thoroughly
      </li>
      <li>Shave the treatment area if there is excessive hair</li>
    </ol>
    <ol slot="post-treatment">
      <li>
        To help prevent re-infection: remove nail polish and clean
        toes/fingernails thoroughly
      </li>
      <li>Shave the treatment area if there is excessive hair</li>
      <li>Wear clean shoes/socks at home after treatment</li>
      <li>
        Wash sheets, disinfect shower/bath, and vacuum carpets day of treatment
      </li>
      <li>
        Apply anti-fungal cream 2X per day for approximately 2 weeks to 3+
        months, depending on the severity of the infection
      </li>
      <li>
        Apply anti-fungal powder to all shoes at least 1x per week for at least
        1+ month
      </li>
      <li>
        Keep nails trimmed and cleaned (disinfecting instruments after each use)
      </li>
      <li>Do not walk barefoot in public places (pool, gym, etc.)</li>
      <li>Nail polish may be applied 24 hours after treatment</li>
      <li>If a blister develops, treat it as a wound</li>
      <li>
        Cold gel packs or cool compresses may be applied post-treatment on hot
        spots
      </li>
    </ol>
  </Guidelines>
</Layout>

<style lang="scss">
  li {
    margin: 1rem 0rem 1rem 2rem;
  }

  ul {
    margin-bottom: 2rem;
  }

  h2 {
    font-size: 4rem;
    margin-bottom: 1rem;

    @media (max-width: 600px) {
      font-size: 3rem;
    }
  }

  p {
    font-weight: 400;
    margin-bottom: 2rem;
  }
</style>
