---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Common/Header.astro';
import Main from '../../components/Treatments/MainWithSlider/Main.astro';
import Guidelines from '../../components/Treatments/Guidelines.astro';

import slider1 from '../../../public/images/treatments/sun-spot-damage/slider-1.jpg';
import slider2 from '../../../public/images/treatments/sun-spot-damage/slider-2.jpg';
import slider3 from '../../../public/images/treatments/sun-spot-damage/slider-3.jpg';
import slider4 from '../../../public/images/treatments/sun-spot-damage/slider-4.jpg';

let images = [slider1, slider2, slider3, slider4];

let altText = 'A before and after pic of sun spot damage repair.';
---

<Layout title="Welcome to Astro.">
  <Header
    heading="Sun spot damage"
    bg="images/treatments/sun-spot-damage/sun-spot-damage-header.jpg"
  />
  <Main images={images} altText={altText}>
    <div slot="text">
      <div class="text-container">
        <h2>Sun Spot Damage Or Pigmented Lesions Treatment Ottawa</h2>
        <p>
          <strong>IMPORTANT:</strong><br />
          All pigmented lesions or sun spots should be checked by a Dermatologist
          to rule out potential malignancies.
        </p>
        <p>
          <strong>Freckles</strong><br />
          A flat circular spot on the skin, about the size of the head of a nail,
          that develops after repeated exposure to sunlight, particularly in someone
          of fair complexion. Freckles may be red, yellow, tan, light brown, brown,
          or black. They are always darker than the skin around them since they are
          due to deposits of the dark melanin, a dark pigment.
        </p>
        <p>
          <strong>Sun Spot Damage / Age Spots</strong><br />
          Also known as lentigines, are harmless, flat, brown discolorations of the
          skin, which usually occur on the back of the hands or face.
        </p>

        <p>
          To assess and treat your sun spot damage, call <a
            href="tel:6135228504">613-522-8504</a
          > or <a
            href="https://bodynbloom.janeapp.com/"
            target="_blank"
            rel="noreferrer">book an appointment online</a
          >.
        </p>
      </div>
    </div>
  </Main>
  <Guidelines heading="PRE AND POST TREATMENT GUIDELINES">
    <ol slot="pre-treatment">
      <li class="guidelines__list-item">The skin must be clean and dry.</li>
      <li>
        Topical anesthetic maybe used, but it must be degreased and washed off
        thoroughly immediately prior to the treatment.
      </li>
    </ol>
    <ol slot="post-treatment">
      <li>
        A cool compress can be applied to the treatment area to provide comfort.
      </li>
      <li>
        Antibiotic or Aquaphor (in case of allergic reaction to antibiotic
        ointment) can be used to keep the treated area moist until the
        scab/crust falls off.
      </li>
      <li>
        The skin underneath where the scab/crust fell off will be pink. The
        normal skin color will return with time. A sunscreen MUST be applied to
        the treated area and must reapply it several times a day, especially if
        in the sun!
      </li>
    </ol>
  </Guidelines>
</Layout>

<style lang="scss">
  li {
    margin: 1rem 0rem 1rem 2rem;
  }

  ul {
    margin-bottom: 2rem;
  }

  h2 {
    font-size: 4rem;
    margin-bottom: 2rem;

    @media (max-width: 600px) {
      font-size: 3rem;
    }
  }

  p {
    font-weight: 400;
    margin-bottom: 2rem;
  }
</style>
