---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Common/Header.astro';
import Guidelines from '../../components/Treatments/Guidelines.astro';

import bg from '/treatments/laser-hair-removal-header.jpg';
---

<Layout title="Welcome to Astro.">
  <Header heading="LASER HAIR REMOVAL" bg={bg} />
  <Guidelines heading="PRE AND POST TREATMENT GUIDELINES">
    <ol slot="pre-treatment">
      <li class="guidelines__list-item">
        It is recommended to shave the treatment area within 24-48 hours prior
        to treatment.
      </li>
      <li>
        The treatment area must not tweeze, wax, or pluck for six weeks prior to
        treatment.
      </li>
      <li>
        The treatment area must be free of make-up, lotion, deodorant, and
        ointments and dry prior to the treatment.
      </li>
      <li>
        Avoid direct sun exposure and tanning for at least two to four weeks
        prior to the treatment.
      </li>
    </ol>
    <ol slot="post-treatment">
      <li>
        Sunblock must be wear with at least SPF 30 after treatment. Re-apply the
        sunblock during the day (especially if outdoors).
      </li>
      <li>
        Hair will start to shed at around two to three weeks post treatment.
        Absolutely NO tweezing, plucking or waxing of the treatment area during
        the course of treatments. However, shaving or use a washcloth to
        exfoliate the hairs is allowed.
      </li>
      <li>
        Deodorant or make - up can be re-applied after treatment if the skin
        does not feel too irritated.
      </li>
      <li>
        Direct sun exposure and tanning must be avoided for at least two to four
        weeks after treatment.
      </li>
      <li>
        Cool compress can be used post treatment for comfort. Never apply ice
        directly to the skin.
      </li>
      <li>
        Redness may last from 2-5 hours up to several days following treatment.
      </li>
      <li>
        Swelling (edema) or itching can be post treatment. A topical
        hydrocortisone or Benadryl can be used to alleviate the symptoms. An
        oral antihistamine can also be used. Non-drowsy antihistamine (such as
        Claritin) can be taken during the day to avoid the drowsiness associated
        with Benadryl.
      </li>
      <li>Avoid exercise for 24 hours post treatment.</li>
    </ol>
  </Guidelines>
</Layout>

<style>
  li {
    margin: 2rem 0rem;
  }
</style>
