---
import Navbar from '../components/Layout/Navbar.svelte';
import Footer from '../components/Layout/Footer.astro';
export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title} | Body 'N' Bloom</title>
  </head>
  <body style="background: url('/images/body-bg.jpeg') repeat;">
    <div class="white-wrapper">
      <Navbar client:load />
      <slot />
      <Footer />
    </div>
  </body>
</html>

<style is:global lang="scss">
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-size: 62.5%;
    height: 100%;
    margin: 0 auto;
  }

  body {
    line-height: 1.5;

    background-attachment: fixed !important;
  }

  .white-wrapper {
    background: rgba(255, 255, 255, 0.69);
  }

  :root {
    //colors
    --color-white: #fff;
    --color-off-white: #e1e1e1;
    --color-black: #535353;

    --color-light-grey: #fcfcfc;

    --color-blue: #4051b5;
    --color-blue-dark: hsl(231, 48%, 40%);

    --color-green: #7dbd4a;
    --color-green-dark: #138001;

    //font size

    --font-size-body: 16px;

    //text shadow
    --header-text-shadow: 2px 2px #2b2b2ba9;

    //box shadow
    --shadow-sm: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);

    //breakpoints
    $phonesmall: 450px;
    $phone: 450px;
    $tabport: 450px;
    $tabland: 450px;
  }

  body {
    color: var(--color-black);
    font-size: var(--font-size-body);
    font-family: arial;
  }

  a {
    color: var(--color-blue);
    font-weight: bold;
    text-decoration: none;

    transition: color 0.3s ease;

    &:hover {
      color: var(--color-blue-dark);
    }
  }

  /* SWIPER STYLES */

  .swiper-slide {
    height: auto !important;
  }

  .swiper-pagination-bullet {
    padding: 1rem;
    border: solid 0.3rem;
    opacity: 0.6 !important;

    @media (max-width: 600px) {
      padding: 0.5rem;
    }
  }

  .swiper-pagination-bullet-active {
    background-color: #fff !important;
    border: solid 0.3rem var(--color-blue);
    opacity: 1 !important;
  }

  .home-videos-slider {
    .swiper {
      padding-bottom: 7.5rem;
    }
    .swiper-pagination {
      bottom: 0 !important;
    }
  }

  .home-testimonials-slider {
    .swiper {
      padding-bottom: 5rem;
    }
    .swiper-pagination {
      bottom: 0 !important;
    }
  }
</style>
