---
import NavTop from '../components/Layout/NavTop.astro';
import Navbar from '../components/Layout/Navbar.svelte';
import Footer from '../components/Layout/Footer.astro';

import '@fontsource/dm-serif-display';

import '@fontsource/dm-sans';
import '@fontsource/dm-sans/700.css';

import '@fontsource/raleway';
import '@fontsource/raleway/700.css';

export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title} | Body 'N' Bloom</title>
  </head>
  <body>
    <div class="white-wrapper">
      <NavTop />
      <Navbar client:load />

      <slot />
      <Footer />
    </div>
  </body>
</html>

<style is:global lang="scss">
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-size: 62.5%;
    height: 100%;
    margin: 0 auto;
  }

  body {
    line-height: 1.5;

    position: relative;
  }

  // .body-wrapper {
  //   padding-top: 16rem;

  //   @media (max-width: 600px) {
  //     padding-top: 22rem;
  //   }

  //   @media (max-width: 455px) {
  //     padding-top: 24.8rem;
  //   }
  // }

  :root {
    //colors
    --color-white: #fff;
    --color-off-white: #e1e1e1;
    --color-black: #535353;

    --color-light-grey: #fcfcfc;

    --color-blue-light: #7c8bda;
    --color-blue: hsl(231, 48%, 48%);
    --color-blue-dark: #354497;

    --color-green: hsl(93, 45%, 59%);
    --color-green-dark: #486c28;

    // Gradients

    --soft-green: linear-gradient(
      125deg,
      hsl(93, 45%, 96%) 0,
      hsl(93, 29%, 94%)
    );
    --soft-blue: linear-gradient(
      270deg,
      hsl(231, 57%, 95%) 0,
      hsl(231, 33%, 97%)
    );

    //font size
    --font-size-body: 1.8rem;

    //font family
    --font-heading: 'Raleway', sans-serif;

    //text shadow
    --header-text-shadow: 2px 2px #2b2b2ba9;

    //box shadow
    --shadow-sm: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  }

  body {
    color: var(--color-black);
    font-size: var(--font-size-body);
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
    font-size: 1.8rem;
    height: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
    color: var(--color-blue);
  }

  a {
    color: var(--color-blue);
    font-weight: bold;
    text-decoration: none;

    transition: color 0.3s ease;

    &:hover {
      color: var(--color-blue-dark);
    }
  }

  /* SWIPER STYLES */

  .swiper-slide {
    height: auto !important;
  }

  .swiper-pagination-bullet {
    padding: 1rem;
    border: solid 0.3rem;
    opacity: 0.6 !important;

    @media (max-width: 600px) {
      padding: 0.5rem;
    }
  }

  .swiper-pagination-bullet-active {
    background-color: #fff !important;
    border: solid 0.3rem var(--color-blue);
    opacity: 1 !important;
  }

  .home-videos-slider {
    .swiper {
      padding-bottom: 7.5rem;
    }
    .swiper-pagination {
      bottom: 0 !important;
    }
  }

  .home-testimonials-slider {
    .swiper {
      padding-bottom: 5rem;
    }
    .swiper-pagination {
      bottom: 0 !important;
    }
  }
</style>
